* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
.menu {
  text-align: end;
}
header {
  background-color: #279989;
  font-size: small;
}
h1,
li {
  display: inline;
}
.Formularioanadir {
  background-color: #ffc845;
}
.articles {
  text-align: end;
}
.emergent {
  background-color: #44a080;
  margin: 0;
  padding: 0;
}
